@model WebApplication1.CertificateInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2 style="text-align:center;"><strong>Certificate Details</strong></h2>
<hr />
<table class="table table-dark">
    <thead>
        @if (Model.Status.ToUpper() == "ACTIVE")
        {
        <th style="background-color:green;color:white;text-align:center;" colspan="2">Active</th>
    }
    else
    {
        <th style="background-color:red;color:white;text-align:center;" colspan="2">InActive</th>
    }

        </thead>
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.CertificateNo)</th>
                <td>@Html.DisplayFor(model => model.CertificateNo)</td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.CompanyName)</th>
                <td>@Html.DisplayFor(model => model.CompanyName)</td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.CompanyAddress)</th>
                <td>@Html.DisplayFor(model => model.CompanyAddress)</td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Country)</th>
                <td>@Html.DisplayFor(model => model.Country)</td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Scope)</th>
                <td>@Html.DisplayFor(model => model.Scope)</td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.RegistrationDate)</th>
                <td>@Html.DisplayFor(model => model.RegistrationDate)</td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.ReRegistrationDate)</th>
                <td>@Html.DisplayFor(model => model.ReRegistrationDate)</td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Standard)</th>
                <td>@Html.DisplayFor(model => model.Standard)</td>

            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Status)</th>
                <td>@Html.DisplayFor(model => model.Status)</td>

            </tr>
        </tbody>
    </table>




    <div>
        @Html.ActionLink("Back to Certificate Search", "Index")
    </div>
